@model IEnumerable<ConceptArchitect.BookManagement.Book>
<link rel="stylesheet" href="~/css/allBooks.css" asp-append-version="true" />

@section UserHeaderOptions{
    @Html.Partial("~/Views/User/HeaderOptions.cshtml")
}

<h2 class="index-book-heading">Books</h2>

<div class="row">

    @foreach (var book in Model)
    {
        <div class='col  col-md-3 '>
            <div class="card  index-book-card">
                <a asp-action="details" asp-route-id="@book.Id" class="index-books">
                    <img class="card-img-top" src="@book.CoverPhoto" alt="Image of an Book" height="300px" >
                    <div class="card-body">
                        <h6 class="card-title index-book-title">@book.Title</h6>
                    </div>
                </a>
                @* <a asp-action="edit" asp-route-id="@author.Id" class="btn  btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@author.Id" class="btn  btn-primary">Delete</a>*@
            </div>
        </div>
    }
</div>