@using ConceptArchitect.BookManagement
@model Author
<link rel="stylesheet" href="~/css/author_details.css" asp-append-version="true"/>

@section UserHeaderOptions{
    @Html.Partial("~/Views/User/HeaderOptions.cshtml")
}

<h2 class="author-detail-heading">Author Spotlight</h2>
<hr />

@*<div class='row'>
    <div class='col col-md-4'>
        <img src="@Model.Photo" class="author-details-photo"/>
    </div>

    <div class='col col-md-8'>
        <h3>Biography</h3>
        <p>@Model.Biography</p>
    </div>
    <a asp-action="edit" class="btn  btn-primary">Edit</a>
</div>*@

<div class="row author-detail-container">
    <div class='col col-md-6 .author-details-image-div'>
        <img class="author-details-image" src="@Model.Photo" alt="Card image cap" width="200">
    </div>
    <div class='col col-md-6  author-detail-body'>
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Biography</p>
        <p class="card-text">@Model.Email</p>
        <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-outline-success author-detail-edit">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class=" btn btn-outline-danger author-detail-delete">Delete</a>
    </div>
</div>
